In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('/Users/sadgijakhar/Downloads/Car.csv')
df.head()

,Unnamed: 0,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,1,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,2,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,3,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,4,Audi,100,Midsize,30.8,37.7,44.6,19,26,Driver & Passenger,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,5,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i

In [7]:
df.isnull().sum()

Unnamed: 0             0
Manufacturer           0
Model                  0
Type                   0
Min.Price              0
Price                  0
Max.Price              0
MPG.city               0
MPG.highway            0
AirBags                0
DriveTrain             0
Cylinders              0
EngineSize             0
Horsepower             0
RPM                    0
Rev.per.mile           0
Man.trans.avail        0
Fuel.tank.capacity     0
Passengers             0
Length                 0
Wheelbase              0
Width                  0
Turn.circle            0
Rear.seat.room         2
Luggage.room          11
Weight                 0
Origin                 0
Make                   0
dtype: int64

In [11]:
df = df.fillna(df.mean())
df.head()

/var/folders/hl/llrbs5vs0dzg_dcw7n59yd4r0000gn/T/ipykernel_74811/3457963863.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df = df.fillna(df.mean())

,Unnamed: 0,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,1,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,2,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,3,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,4,Audi,100,Midsize,30.8,37.7,44.6,19,26,Driver & Passenger,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,5,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i

In [33]:
df[['Luggage.room','Rear.seat.room']]

    Luggage.room  Rear.seat.room
0      11.000000            26.5
1      15.000000            30.0
2      14.000000            28.0
3      17.000000            31.0
4      13.000000            27.0
..           ...             ...
88     13.890244            34.0
89     14.000000            31.5
90     15.000000            26.0
91     14.000000            29.5
92     15.000000            30.0

[93 rows x 2 columns]

In [31]:
df.pivot_table(index='Manufacturer')

,EngineSize,Fuel.tank.capacity,Horsepower,Length,Luggage.room,MPG.city,MPG.highway,Max.Price,Min.Price,Passengers,Price,RPM,Rear.seat.room,Rev.per.mile,Turn.circle,Unnamed: 0,Weight,Wheelbase,Width
Manufacturer,,,,,,,,,,,,,,,,,,,
Acura,2.500000,15.600000,170.000000,186.000000,13.000000,21.500000,28.000000,28.750,21.050000,5.000000,24.900000,5900.000000,28.250000,2612.500,37.500000,1.5,3132.500000,108.500000,69.500
Audi,2.800000,19.000000,172.000000,186.500000,15.500000,19.500000,26.000000,38.450,28.350000,5.500000,33.400000,5500.000000,29.500000,2407.500,37.000000,3.5,3390.000000,104.000000,68.500
BMW,3.500000,21.100000,208.000000,186.000000,13.000000,22.000000,30.000000,36.200,23.700000,4.000000,30.000000,5700.000000,27.000000,2545.000,39.000000,5.0,3640.000000,109.000000,69.000
Buick,3.875000,19.050000,157.500000,200.750000,17.000000,19.000000,27.750000,22.550,20.750000,5.750000,21.625000,4700.000000,28.875000,1786.250,42.250000,7.5,3487.500000,110.000000,73.500
Cadillac,4.750000,19.000000,247.500000,205.000000,16.000000,16.000000,25.000000,39.500,35.250000,5.500000,37.400000,5050.000000,33.000000,1747.500,43.500000,10.5,3777.500000,112.500000,73.500
Chevrolet,3.600000,19.100000,161.875000,190.250000,14.708841,19.625000,27.625000,20.325,16.087500,5.375000,18.187500,4775.000000,28.228709,1965.625,41.375000,15.5,3342.500000,105.750000,72.750
Chrylser,3.300000,18.000000,153.000000,203.000000,15.000000,20.000000,28.000000,18.400,18.400000,6.000000,18.400000,5300.000000,31.000000,1990.000,40.000000,20.0,3515.000000,113.000000,74.000
Chrysler,3.150000,16.000000,144.000000,193.000000,15.500000,21.500000,27.000000,23.300,22.000000,6.000000,22.650000,4900.000000,33.250000,1937.500,42.500000,21.5,3327.500000,107.000000,68.500
Dodge,2.450000,16.500000,137.833333,179.000000,13.148374,21.666667,26.833333,18.900,12.516667,5.500000,15.700000,5233.333333,26.750000,2495.000,38.833333,25.5,3083.333333,102.166667,69.000
Eagle,2.500000,15.600000,153.000000,188.000000,13.000000,24.500000,30.500000,18.850,12.700000,5.500000,15.750000,5900.000000,28.250000,2242.500,38.000000,29.5,2892.500000,105.500000,70.000
Ford,2.537500,15.875000,122.625000,178.500000,14.986280,22.000000,28.125000,17.500,12.437500,5.000000,14.962500,4950.000000,27.000000,2296.250,39.250000,34.5,2954.375000,103.875000,69.625
Geo,1.300000,11.500000,72.500000,157.500000,10.500000,38.000000,43.000000,11.750,9.100000,4.000000,10.450000,5550.000000,26.000000,3502.500,35.500000,39.5,2085.000000,95.000000,65.000
Honda,2.000000,14.933333,134.000000,177.666667,11.333333,30.000000,36.000000,19.900,13.066667,4.000000,16.466667,5766.666667,26.500000,2705.000,38.666667,42.0,2751.666667,103.333333,68.000
Hyundai,1.700000,13.675000,106.250000,172.500000,11.500000,24.250000,30.750000,11.625,9.325000,4.750000,10.475000,5762.500000,27.125000,2582.500,36.500000,45.5,2533.750000,97.500000,65.500
Infiniti,4.500000,22.500000,278.000000,200.000000,15.000000,17.000000,22.000000,50.400,45.400000,5.000000,47.900000,6000.000000,29.000000,1955.000,42.000000,48.0,4000.000000,113.000000,72.000
Lexus,3.000000,19.550000,205.000000,189.500000,11.500000,18.000000,23.500000,32.000,31.100000,4.500000,31.600000,5600.000000,26.250000,2417.500,39.500000,49.5,3512.500000,104.500000,70.500
Lincoln,4.200000,19.200000,185.000000,212.000000,20.500000,17.500000,26.000000,36.550,33.850000,6.000000,35.200000,4500.000000,30.750000,1837.500,43.500000,51.5,3875.000000,113.000000,75.000
Mazda,2.040000,16.560000,151.800000,175.800000,14.156098,23.600000,31.200000,18.860,16.340000,4.600000,17.600000,5520.000000,27.665934,2332.000,37.200000,55.0,2873.000000,100.800000,68.400
Mercedes-Benz,2.750000,16.500000,173.500000,181.000000,13.500000,19.500000,27.000000,57.450,36.400000,5.000000,46.900000,5300.000000,26.500000,2322.500,35.500000,58.5,3222.500000,107.500000,68.000
Mercury,2.700000,14.550000,120.000000,182.500000,10.500000,21.000000,26.000000,14.950,14.100000,4.500000,14.500000,4775.000000,23.500000,2102.500,37.000000,60.5,3030.000000,104.000000,69.000
Mitsubishi,2.250000,16.100000,147.000000,181.000000,12.500000,23.500000,28.500000,21.400,15.050000,5.000000,18.200000,6000.000000,26.750000,2357.500,39.500000,62.5,3012.500000,102.500000,68.500
Nissan,2.500000,16.900000,142.750000,182.250000,13.472561,22.750000,28.000000,19.175,14.850000,5.500000,17.025000,5400.000000,27.500000,2168.750,38.750000,65.5,3223.750000,103.750000,69.000
Oldsmobile,3.025000,17.425000,151.250000,193.250000,15.222561,21.000000,28.250000,18.450,16.550000,5.750000,17.500000,5200.000000,29.500000,2051.250,41.750000,69.5,3246.250000,107.250000,71.250
Plymouth,1.800000,15.900000,92.000000,173.000000,8.000000,23.000000,30.000000,17.400,11.400000,4.000000,14.400000,5000.000000,24.500000,2360.000,39.000000,72.0,2640.000000,97.000000,67.000
Pontiac,2.840000,15.680000,142.800000,185.200000,15.400000,22.200000,31.000000,19.020,13.280000,4.800000,16.140000,5040.000000,26.900000,2211.000,40.200000,75.0,3022.000000,104.000000,70.600
Saab,2.100000,18.000000,140.000000,184.000000,14.000000,20.000000,26.000000,37.100,20.300000,5.000000,28.700000,6000.000000,26.500000,2910.000,37.000000,78.0,2775.000000,99.000000,67.000
Saturn,1.900000,12.800000,85.000000,176.000000,12.000000,28.000000,38.000000,12.900,9.200000,5.000000,11.100000,5000.000000,26.500000,2145.000,40.000000,79.0,2495.000000,102.000000,68.000
Subaru,1.733333,13.666667,97.666667,166.666667,13.000000,27.000000,32.333333,14.500,11.366667,4.666667,12.933333,5466.666667,26.000000,2860.000,34.666667,81.0,2540.000000,96.333333,64.000
Suzuki,1.300000,10.600000,70.000000,161.000000,10.000000,39.000000,43.000000,10.000,7.300000,4.000000,8.600000,6000.000000,27.500000,3360.000,34.000000,83.0,1965.000000,93.000000,63.000
Toyota,2.075000,16.525000,121.250000,177.750000,13.222561,24.250000,30.000000,20.550,14.025000,5.250000,17.275000,5250.000000,27.625000,2691.250,38.500000,85.5,2955.000000,102.250000,68.750
Volkswagen,2.275000,17.625000,125.500000,172.250000,13.222561,20.250000,27.250000,19.575,16.450000,5.000000,18.025000,5400.000000,29.375000,2633.750,35.750000,89.5,2998.750000,102.000000,67.000
Volvo,2.350000,17.550000,141.000000,187.000000,14.500000,20.500000,28.000000,26.000,23.300000,5.000000,24.700000,5800.000000,29.750000,2262.500,37.500000,92.5,3115.000000,104.500000,68.000